.container {
    width: 100svw;
    height: 100svh;
    background-size: cover;
    align-items: center;
}

.prizesContainer {
    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
    gap: 20px;
    
}

.wheelContainer {
    margin-top: 7svh;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel {
    position: absolute;
    padding-bottom: 5px;
    padding-right: 3px;
    transition: transform 4s ease-out;
}

.ram {
    position: absolute;
}

.arrow {
    position: absolute;
}

.button {
    position: relative;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;


}

.spinForFun {
    animation: spin 5s linear infinite;
}

.buttonImage {
    padding-top: 6px;
    position: relative;
}

.buttonRam {
    position: absolute;
}

.buttonText {
    /* Крутить */

    position: absolute;
    width: 70px;
    height: 10px;


    font-family: 'Muller';
    font-style: normal;
    font-weight: 750;
    font-size: 14.2933px;
    line-height: 15px;
    /* or 106% */
    /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;


}

.bold {
    font-family: 'MullerMedium';
    color: black;
    font-size: 16px;
    line-height: 18px;
}

