.container {
    width: 100dvw;
    height: 100dvh;
    background-size: cover;
    align-items: center;
}



.prizesContainer {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    margin-bottom: 10dvh;
    gap: 20px;
    
}

.wheelContainer {
    margin-top: 7dvh;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel {
    position: absolute;
    padding-bottom: 5px;
    padding-right: 3px;
    animation: 2s spinner ease-in-out infinite;
    transition: transform 3s ease-out;
}

.ram {
    position: absolute;
}

.arrow {
    position: absolute;
}

.button {
    position: relative;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;


}


.buttonImage {
    padding-top: 6px;
    position: relative;
}

.buttonRam {
    position: absolute;
}

.buttonText {
    /* Крутить */

    position: absolute;
    width: 70px;
    height: 10px;


    font-family: 'MullerMedium';
    font-style: normal;
    font-weight: 750;
    font-size: 14.2933px;
    line-height: 15px;
    /* or 106% */
    /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;


}

.bold {
    font-family: 'MullerMedium';
    color: black;
    font-size: 16px;
    line-height: 18px;
}

@keyframes spinner {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}